---
import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/Sidebar.astro';
---

<Layout title="ElyRiven Porfolio">
	<main>
	</main>
</Layout>

<style is:global>
	h1{
		font-size: 4rem;
		font-weight: 900;
	}
</style>