---
import Sidebar from '../components/Sidebar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="ElyRiven Porfolio">
	<main>
		<Sidebar />
		<section class="pl-[320px]">
			<h4 >Elizabethasdasfasfasfasfasfs</h4>
			<h4>Elizabeth</h4>
			<h4>Elizabeth</h4>
			<h4>Elizabeth</h4>
			<h4>Elizabeth</h4>
			<h4>Elizabeth</h4>
			<h4>Elizabeth</h4>
			<h4>Elizabeth</h4>
			<h4>Elizabeth</h4>
			<h4>Elizabeth</h4>
			<h4>Elizabeth</h4>
			<h4>Elizabeth</h4>
			<h4>Elizabeth</h4>
			<h4>Elizabeth</h4>
			<h4>Elizabeth</h4>
			<h4>Elizabeth</h4>
			<h4>Elizabeth</h4>
			<h4>Elizabeth</h4>
			<h4>Elizabeth</h4>
			<h4>Elizabeth</h4>
			<h4>Elizabeth</h4>
			<h4>Elizabeth</h4>
			<h4>Elizabeth</h4>
			<h4>Elizabeth</h4>

		</section>
		
	</main>
</Layout>

<style is:global>
	main{
		display: flex;
		flex-direction: column;
	}
	h4{
		font-size: 4rem;
		font-weight: 200;
	}
</style>