<a
  {...Astro.props}
  class="flex border border-white-pl h-10 w-fit rounded-full my-[20px] px-[13px] items-center text-xl font-semibold bg-orange-pl/70 duration-200 hover:bg-black-pl"
  target="blank"
>
  <slot />
</a>
