---
import Sidebar from '../components/Sidebar.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://rsms.me/">
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
		<title>{title}</title>
	</head>
	<body>
    	<Sidebar/>
    <!-- <div id="grad1"></div> -->
    <slot />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
		font-family: Inter, sans-serif;
  		font-feature-settings: 'liga' 1, 'calt' 1;
	}
	@supports (font-variation-settings: normal) {
  		:root { font-family: InterVariable, sans-serif; }
	}
	html {
		font-family:system-ui, Inter;
	}
	body {
		display: flex;
		flex-direction: column;
	}
  #grad1 {
    background-image: linear-gradient(to right top, #000000, #251821, #392c45, #3b4670, #00659b);
  }
</style>
